@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.App {
  text-align: center;
}

.App-header {
  background-color: #2f3841;
  min-height: 100vh;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
.bar{
  background-color: #282c34;
}
.icon{
  font-size:25px;
}
.pic{
    height:200px;
    position: relative;
    padding: 5px;
    margin:auto;
 
}

.element{
  margin-left: auto;
  margin-right:25px;
}

h3,h2,h4{
  font-family: 'Lora', serif;;

}

